
@{
    ViewBag.Title = "Presentation";
}
<br /><br /><br />
<center>
    <iframe src=@ViewBag.Presentat width="750" height="540" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0" allowfullscreen></iframe></div>

</center>